ul,
ol,
dl {
    text-align: center;
    list-style-position: inside;
}

h1,
h2,
p {
    text-align: center;
}

a {
    width: fit-content;
    display: flex;
    margin-inline: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #bc7138;
    color: white;
}

td,
th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

#heading {
    color: #d2752e;
}

.main-page a {
    color: orange;
}

.main-page {
    background-color: #d9d8c0;
    font-family: Arial, sans-serif;
}

.rock-page a {
    color: lightblue;
}

.rock-page {
    background-color: #222;
    color: white;
    font-family: Arial, sans-serif;
}

.jazz-page a {
    color: darkblue;
}

.jazz-page {
    background-color: #456234b4;
    color: black;
    font-family: Georgia, serif;
}

.classical-page a {
    color: darkred;
}

.classical-page {
    background-color: #9b8686;
    color: black;
    font-family: "Times New Roman", serif;
}

h2+ul {
    color: orange;
}

.main-page caption {
    font-style: italic;
}

dl>div {
    background-color: #e6c6c6;
    padding: 5px;
}

.highlight {
    background-color: rgb(206, 224, 39);
    font-style: italic;
}

.logo {
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 32px;
    background-color: white;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.genre-float-container {
    width: 80%;
    margin: 30px auto;
    overflow: hidden;
    border: 2px dashed orange;
    padding: 10px;
    background-color: #fff9ed;
}

.genre-float-img {
    float: left;
    margin-right: 20px;
}

.genre-float-text {
    overflow: hidden;
}

/* Псевдокласи для посилань */
a:link {
    text-decoration: none;
    color: green;
}

a:visited {
    color: gray;
}

a:hover {
    color: darkorange;
    text-decoration: underline;
}

a:active {
    color: red;
}

/* Псевдоклас :first-child */
ul li:first-child {
    font-weight: bold;
    color: rgb(13, 10, 151);
}

/* Псевдоелементи */
h1::before {
    content: "🎵 ";
}

h1::after {
    content: " 🎶";
}

#startDialogButton,
#showInfoButton,
#compareStringsButton,
#changeBackgroundBtn,
#redirectBtn {
    position: absolute;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #767247;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

#startDialogButton {
    top: 50px;
    left: 120px;
}

#showInfoButton {
    top: 120px;
    left: 65px;
}

#compareStringsButton {
    top: 190px;
    left: 112px;
}

#changeBackgroundBtn {
    top: 260px;
    left: 70px;
}

#redirectBtn {
    top: 330px;
    left: 72px;
}

#startDialogButton:hover,
#showInfoButton:hover,
#compareStringsButton:hover,
#changeBackgroundBtn:hover,
#redirectBtn:hover {
    background-color: #6b542b;
    transform: scale(1.05);
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

#menu button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #124e15;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#menu button:hover {
    background-color: #45a049;
    /* Змінюємо колір кнопки при наведенні */
}